<div class="container">
  <h1>Ledger</h1>
  <table class="table table-bordered dotmatrix-striped">
    <thead class="dotmatrix-striped">
      <tr>
        <th>Class</th>
        <th>Id</th>
        <th>Creditor</th>
        <th>Debtor</th>
        <th>Amount</th>
        <th>Updated at</th>
      </tr>
    </thead>

    <tbody>
      <% @sorted_ledger.each do |record| %>
        <tr>
          <%= ledger_builder(record) %>
        </tr> 
      <% end %>
    </tbody>
  </table>
</div>
