<h1>Record a Payment</h1>

<%= render 'form' %>

<%= link_to 'Back', payments_path %>

<h1>Payments that You've Recorded</h1>

<table class="zebra-striped">
  <tr>
    <th>Id</th>
    <th>Owner</th>
    <th>Date paid</th>
    <th>Created at</th>
    <th>Total amount</th>
    <th>Memo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>


<% end %>
</table>

<br />