<h1>Record an Expense</h1>

<%= render 'form' %>

<%= link_to 'Back', expenses_path %>

<h1>Expenses That You've Recorded</h1>

<table class="zebra-striped">
  <tr>
    <th>Id</th>
    <th>Expense Name</th>
    <th>Owner</th>
    <th>Date Incurred</th>
    <th>Created At</th>
    <th>Total Amount</th>
    <th>Memo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>


<% end %>
</table>

<br />
